body {
  background: linear-gradient(253deg, #0cc898, #1797d2, #864fe1);
  background-size: 300% 300%;
  -webkit-animation: Background 25s ease infinite;
  -moz-animation: Background 25s ease infinite;
  animation: Background 25s ease infinite;
}

.full-screen {
  display: flex;
  height: 100vh;
}

#side-bar {
  text-align: center;
  width: 25%;
  background-color: #F5F5F5;
  padding: 20px;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#task-box {
  width: 50%;
  padding: 20px;
  background-color: #F5F5F5;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#right-side-bar {
  width: 25%;
  background-color: #F5F5F5;
  padding: 20px;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.hTmname {
  margin-top: 20px;
}

.hAllTask {
  margin-top: 20px;
}

.hAddTask {
  margin-top: 20px;
}

li {
  list-style-type: none;
  margin: 10px 0;
  padding: 10px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

button {
  padding: 12px 20px; 
  border: unset;
  border-radius: 12px; 
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position:relative;
  font-weight: 1000;
  font-size: 14px; 
  -webkit-box-shadow: 3px 6px 14px -2px rgba(0,0,0,0.27); 
  box-shadow: 3px 6px 14px -2px rgba(0,0,0,0.27); 
  transition: all 250ms;
  overflow: hidden;
  cursor:pointer;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 12px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 3px 6px 14px -2px rgba(0,0,0,0.27); 
  box-shadow: 3px 6px 14px -2px rgba(0,0,0,0.27); 
  transition: all 250ms;
}

button:hover {
  color: #e8e8e8;
}

button:hover::before {
  width: 100%;
}


input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid #0f0cc8;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#submitTaskButton {
  width: 100%;
  margin-top: 20px;
}
#side-bar button {
  display:inline-block;
  margin:40px;
}
